<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202890241823-i83hcni97oq3kp4qvokcodlb1me1hu92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202890241823-i83hcni97oq3kp4qvokcodlb1me1hu92</string>
	<key>API_KEY</key>
	<string>AIzaSyCZVxzwn2sOmkdBcMMXGsmhuscp1w5CGCA</string>
	<key>GCM_SENDER_ID</key>
	<string>202890241823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.owlab.lingafriq</string>
	<key>PROJECT_ID</key>
	<string>lingafriq-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>lingafriq-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202890241823:ios:ae2190c00d638d7e78722a</string>
</dict>
</plist>